/* reset style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
/* /reset style*/

/* header */
/* header common */
.container-header,
.logo {
    height: 100px;
}

.container-header {
    height: 100px;
    background-color: #edf2f7;
    text-align: center;
    box-shadow: 3px 3px 5px grey;
}

/* /header */

/* main */
/* main common - search bar*/
.container-search,
.container-list {
    width: 80%;
    background-color: #edf2f7;
}

.form-control,
button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* /main common - search bar */

/* container of searching bar */
.container-search {
    height: 100px;
    margin: 50px auto 2px;
    text-align: center;
    line-height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* format of input text */
.form-control {
    width: 35%;
}

/* format of button */
#task {
    background-color: #14aaf5;
    color: white;
}

/* To do List */
/* To do List common*/
.check, .cross {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 8px;
}

/* Task types */
.task-type-editorial, .task-type-q1-goals, .task-type-recruiting, .task-type-mobile, .task-type-website, .task-type-sales{
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
}

/* /To do List common*/

/* Conteiner of to do list*/
.container-list {
    height: 850px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* style of the macro area title */
.font-text-macro-areas {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #383947;
    margin-left: 10%;
    padding-top: 30px;
}

/* Conteiner of the single point */
.list-point {
    border-radius: 10px;
    background-color: white;
    margin: 20px 10% 0;
    padding: 10px 20px;
}

/* Check */
.check {
    color: green;
    border: 1px solid green;
}

/* Cross */
.cross {
    color: red;
    border: 1px solid red;
}

/* font of single points of the list */
.font-text-single-point {
    padding-left: 5px;
    font-size: 20px;
}

/* task done */
.task-done {
    text-decoration-line: line-through;
    text-decoration-color: black;
}

/* Task type - editorial */
.task-type-editorial {
    background-color: #09a9ed;
}


/* Task type - Q1 goals */
.task-type-q1-goals {
    background-color: #a552e4;
}

/* Task type - Recruiting */
.task-type-recruiting {
    background-color: #2cc6ab;
}

/* Task type - mobile */
.task-type-mobile {
    background-color: #ff9b00;
}

/* Task type - Website */
.task-type-website {
    background-color: #ec4a9d;
}

/* Task type - Sales */
.task-type-sales {
    background-color: #a3d116;
}